/* 
    Document Index:
    0. Reset Configuration 
    1. Layout for the page
    
    Default All Devices: 
    2. Header
    3. Content
    4. Footer

    Specific:
    5. Mobile/Small Devices
    6. Desktop/large Devices 
*/


/* 0- Reset Global-Default */
body{
    background:silver;
    margin:0;
    padding:0;
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul, li, a, h1, h2, h3, p, i, button, div, section .header, .footer {
    text-decoration:none;
    margin:0;
    padding:0;
    list-style:none;
}
h1::first-letter,h2::first-letter{
    color:blueviolet;
}

/* 1- Layout for the page */
.screen-index{
    margin:0;
    width:100%;
    height:100%;
    display:flex;
    flex-flow:column wrap;
    background-size:cover;
    background-image:url(../rsc/background.jpg);
    filter:brightness(90%);
}

/* 2- Header */
.header{
    padding:8px;
    border-radius:0 0 10% 10%;
    background:rgb(248, 248, 248);
    border-bottom:1px solid rgb(255, 255, 255);
    box-shadow:0px -15px 50px rgb(53, 53, 53);
}
.header-navbar{
    width:100%;
}
.header-navbar--list{
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
}
.items{
    padding:0 4px;
}
.nav-item{
    color:rgb(18, 18, 18);
}

/* 3- Content */
.container{
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    margin-top:24px;
    padding:12px;
}
.image{
    width:200px;
    border-radius:4px;
}
.container:nth-child(4){
    height:400px;
}
.container:nth-child(4) .box{
    height:95%;
    width:95%;
    display:flex;
    flex-flow:column wrap;
    justify-content:space-around;
    align-items:center;
}
.social-btns{
    width:80%;
    height:70%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items:center;
    border:2px stroke purple;
    border-radius:12px;
    box-shadow:0 0 100px rgba(83, 83, 83, 0.2);
    background:linear-gradient(95deg, rgb(118, 1, 220), rgb(181, 0, 194));
}
.social-btns a{
    width:124px;
    height:124px;
    display:flex;
    justify-content:center;
    align-items:center;
}
button{
    width:64px;
    height:64px;
    font-size:24pt;
    border-radius:30%;
    background:none;
    border:none;
    color:purple;
}
.bg{
    width:64px;
    height:64px;
    border:1px solid rgb(203, 203, 203);
    border-radius:40%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:radial-gradient(rgb(241, 241, 241), rgb(237, 206, 206));
    filter:drop-shadow(0 0 5px rgba(255, 0, 195, 0.664));
}
.about-content{
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    margin-top:12px;
    padding:12px;
    border-radius:8px;
    background:linear-gradient(45deg, rgb(251, 251, 251), rgb(242, 242, 242));
    border:2px solid, silver;
}
.stacks-content{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    margin-top:12px;
    border:2px stroke purple;
    border-radius:12px;
    box-shadow:0 0 100px rgba(83, 83, 83, 0.2);
    background:linear-gradient(95deg, rgb(118, 1, 220), rgb(181, 0, 194));

}
.stack{
    margin:24px;
    width:30%;
    filter:drop-shadow(0 16px 10px rgba(41, 41, 41, 0.695));
}
section:nth-child(3){
	background:rgba(0, 0, 0, .1);
}
i{
    transition:2s;
}
button{
    position:relative;
    border-radius:30%;
    background:none;
    border:none;
    color:purple;
    display:flex;
    justify-content:center;
    align-items:center;
}
.bg{
    border: 1px solid rgb(203, 203, 203);
    border-radius:40%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:radial-gradient(rgb(241, 241, 241), rgb(237, 206, 206));    
    filter:drop-shadow(0 0 5px rgba(255, 0, 195, 0.664));
}
/* 4- Footer*/
.footer{
    margin-bottom:0;
    height:48px;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    background:rgb(248, 248, 248);
    border-top:1px solid rgb(255, 255, 255);
    box-shadow:0px 15px 50px rgb(53, 53, 53);
}


/* 5- Mobile and small devices*/
@media(max-width:699px){
    h1::first-letter{
        font-size:17pt;
    }
    h1{
        font-size:16pt;
    }
    p{
        font-size:12pt;
    }
    i{
        font-size:2.0rem;
    }
    button{
        width:100px;
        height:100px;
        margin:8px;
    }
    .bg{
        width:70px;
        height:70px;
    }
}


/* 6- Desktop and Large Devices*/
@media (min-width:700px){
    h2::first-letter{
        font-size:19pt;
    }
    section:nth-child(3){
        height:auto;
        min-height:500px;
        flex-flow:row wrap;
        justify-content:space-around;
        align-items:center
    }
    section:nth-child(3) .box:nth-child(2){
        width:40%;
        min-height:300px;
    }
    .stacks-content{
        width:40%;
    }
    i{
        font-size:2.5rem;
    }
    button{
        width:120px;
        height:120px;
        margin:10px; 
    }
    .bg{
        width:80px;
        height:80px;
    }
}